:root {
  --color-primary: #378747;
  --color-primary-light: #0077d9;
  --color-primary-lighter: #0092ff;
  --color-primary-dark: #003b7b;
  --color-primary-darker: #001f4d;
  --color-secondary: #eb8205;
  --color-secondary-light: #ff9c2f;
  --color-secondary-lighter: #ffb84f;
  --color-secondary-dark: #c56e00;
  --color-secondary-darker: #9b4b00;
  --color-primary-icon: #5f6368;
  --color-background: #F8FAFD;
}
